article{
    display: grid;
    color: aliceblue;
    /* gap: 10px; */
    /* flex-flow: column;
    align-items: center; */
    place-items: center center;
}

div#buttonGroup{
    display: flex;
    flex-flow: row;

    gap: 3px
}

div#buttonGroup button{
    width: 5em;
    background-color: transparent;
    border: 1px rgb(122, 122, 237) solid  ;
    border-radius: 0.3em;
    cursor: pointer;
    color: rgb(105, 113, 105);
    height: 2em;
}

div#buttonGroup button:hover{
    background-color: aliceblue;
}